---
- name: Eng.Faster Team Base Playbook
  hosts: "{{ HOSTS }}"
  become: "{{ 'no' if ansible_connection == 'winrm' else 'yes' }}" 
  
  tasks:
    
    - name: Print selected OS
      debug: msg="Selected OS -> {{ ansible_distribution }}; Major version -> {{ ansible_distribution_major_version}}"
        
    
    # Is this windows?
    - name: Include base file for Windows OSs
      include_tasks: "{{ tasks_windows }}"
      with_first_found:
        - files:
          - "{{ ansible_distribution }}-{{ ansible_distribution_major_version}}-base.yml"
          - "{{ ansible_distribution }}-base.yml"
          skip: true
      loop_control:
        loop_var: tasks_windows
      when: ansible_connection == "winrm"
      
    # Is this not windows?
    - name: Include base file for not Windows OSs
      include_tasks: "{{ tasks_linux }}"
      with_first_found:
        - files:
          - "linux-base.yml"
          skip: true
      loop_control:
        loop_var: tasks_linux
      when: ansible_connection == "ssh"
    
